.maincontent
  .left_column
    %h1 Welcome to Higginsmd420
    %h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam accumsan nulla, vitae lacinia lacus fringilla et morbi sit amet odio vel metus mollis mollis ut non lacus!
    .text_content
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam accumsan nulla, vitae lacinia lacus fringilla et. Morbi sit amet odio vel metus mollis mollis ut non lacus. Donec pellentesque erat vel tortor sollicitudin eget molestie turpis sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  ie 8
      %p Nunc ac felis odio. Praesent lacinia fermentum lacus at porttitor. Sed gravida tortor in urna consequat non fermentum odio vestibulum. Sed non metus sem, et viverra dui. Vestibulum vel dictum orci. Praesent velit arcu, ultricies at molestie id, sodales mattis sapien.
      .part2
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam accumsan nulla, vitae lacinia lacus fringilla et. Morbi sit amet odio vel metus mollis mollis ut non lacus. Donec pellentesque erat vel tortor sollicitudin eget molestie turpis sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        %p Nunc ac felis odio. Praesent lacinia fermentum lacus at porttitor. Sed gravida tortor in urna consequat non fermentum odio vestibulum. Sed non metus sem, et viverra dui. Vestibulum vel dictum orci. Praesent velit arcu, ultricies at molestie id, sodales mattis sapien.
        %p Nunc ac felis odio. Praesent lacinia fermentum lacus at porttitor. Sed gravida tortor in urna consequat non fermentum odio vestibulum. Sed non metus sem, et viverra dui. Vestibulum vel dictum orci. Praesent velit arcu, ultricies at molestie id, sodales mattis sapien.
  .right_column
    .videobox
      = image_tag asset_path("right_column_vid.png")
    .map
      = image_tag asset_path("right_column_map.png")


