.maincontent
  .laws
    %h1 Laws&Information
    = image_tag asset_path("right_column_map.png")
    %p.clearleft.greentext
      <b>PROPOSITION 215</b>, the California Compassionate Use Act, was enacted by the voters and took effect on 
      Nov. 6, 1996 as California Health & Safety Code 11362.5. The law makes it legal for patients and their 
      designated primary caregivers to possess and cultivate marijuana for thier personal medical use given 
      the recommendation or approval of a California-licensed physician.
    %p
      <b>SB420</b>, a legislative statute, went into effect on January 1, 2004 as California H&SC 11362.7-.83. This law broadens Prop. 215 to transportation and other offenses in certain circumstances; allows patients to form medical cultivation “collectives” or “cooperatives”; and establishes a voluntary state ID card system run through county health departments. SB 420 also establishes guidelines or limits as to how much patients can possess and cultivate. Legal patients who stay within the guidelines are supposed to be protected from arrest.
    %p
      Under Prop. 215, patients are entitled to whatever amount of marijuana is necessary for their personal medical use. However, patients are likely to be arrested if they exceed the SB 420 guidelines. SB420 sets a baseline statewide guideline of 6 mature or 12 immature plants, and 1/2 pound (8 oz.) processed cannabis per patient. Individual cities and counties are allowed to enact higher, but not lower, limits than the state standard. Local limits are posted at:<a href="http://canorml.org/prop/local215policies.html">http://canorml.org/prop/local215policies.html</a>. Patients can be exempted from the limits if their physician specifically states that they need more.
      %h3 HOW MUCH CAN I POSSESS OR GROW? 
      %p 
        In a state supreme court ruling, People v. Kelly (2010), the court held that patients can NOT be prosecuted simply for exceeding the SB 420 limits; however, they can be arrested and forced to defend themselves as having had an amount consistent with their personal medical needs.
      %h3 WHAT OFFENSES ARE COVERED?
      %p
        Prop. 215 explicitly covers marijuana possession and cultivation (H&SC 11357 and 11358) for personal medical use. Hashish and concentrated cannabis, including edibles, (HSC 11357a) are also included. Transportation (HSC 11360) has also been allowed by the courts. Within the context of a bona fide collective or caregiver relationship, SB 420 provides protection against charges for possession for sale (11359); transportation, sale, giving away, furnishing, etc. (11360); providing or leasing a place for distribution of a controlled substance (11366.5, 11570).
      %h3 WHO MAY CULTIVATE UNDER PROP. 215?
      %p
        Patients with a physician’s recommendation and their primary caregivers, defined as, “The individual designated by the person exempted under this act who has consistently assumed responsibility for the housing, health, or safety of that person.” According to a state supreme court decision, People v Mentch (2008), caregivers must supply some other service to patients than just providing marijuana.
      %p
        As an alternative, SB 420 allows patients to grow together in non-profit “collectives” or cooperatives. Collectives may scale the SB 420 limits to the number of members, but large gardens are always suspect to law enforcement. In particular, grows over 100 plants risk five-year mandatory minimum sentences under federal law.
      %h3 CAN I STILL BE ARRESTED OR RAIDED?
      %p
        YES, unfortunately. There is nothing in Prop. 215 to compel police to accept a patient as being valid. Many legal patients have been raided or arrested for having dubious recommendations, for growing amounts that cops deem excessive, on account of neighbors’ complaints, etc. A major purpose of the state ID card system is to avoid undue arrests.
      %p 
        Once patients have been charged, it is up to the courts to pass judgment on their medical claim.
      %p 
        A landmark State Supreme Court decision, People vs. Mower, holds that patients have the same right to marijuana as to any legally prescribed drug. Under Mower, patients who have been arrested can request dismissal of charges at a pre-trial hearing. If the defendant convinces the court that the prosecution hasn’t established probable cause that it wasn’t for medical purposes, criminal charges are dismissed. If not, the patient goes on to trial, where the prosecution must prove “beyond a reasonable doubt” that the defendant is guilty. Those who have had their charges dropped may file to have their property returned and claim damages.
      %p
        In many cases, police raid patients and take their medicine without filing criminal charges. In order to reclaim their medicine, patients must then file a court suit on their own. For legal assistance in filing suit for lost medicine, contact Americans for Safe Access (www.safeaccessnow.org).
      %h3 WHAT ABOUT FEDERAL LAW?
      %p 
        Under the U.S. Controlled Substances Act, possession of any marijuana is a misdemeanor and cultivation is a felony. A Supreme Court ruling, Gonzalez v Raich (June 2005), rejected a constitutional challenge by two patients who argued that their personal medical use cultivation should be exempt from federal law because it did not affect interstate commerce. Despite this, federal officials have stated that they will not go after individual patients, and the Obama administration has pledged not to intrude on state laws. Patients on federal parks and lands are not protected by Prop. 215
      %h3 WHO QUALIFIES AS A PHYSICIAN?
      %p
        Prop. 215 applies to physicians, osteopaths and surgeons who are licensed to practice in California. It does not apply to chiropractors, herbal therapists, etc. For a list of medical cannabis specialists, see <a href="www.canorml.org/prop/215physicians.html">www.canorml.org/prop/215physicians.html</a>. Prop. 215 requires physicians to state that they “approve” or “recommend” marijuana. Physicians are protected from federal prosecution for recommending marijuana by the Conant U.S. court decision.
      %h3 WHAT ILLNESSES ARE COVERED?
      %p
        Prop. 215 lists “cancer, anorexia, AIDS, chronic pain, spasticity, glaucoma, arthritis, migraine, or any other illness for which marijuana provides relief. Physicians have recommended marijuana for hundreds of indications, including such common complaints as insomnia, PMS, post-traumatic stress, depression, and substance abuse.
      %h3 WHERE CAN MARIJUANA BE SMOKED?

      %p SB420 bars marijuana smoking in no smoking zones, within 1000 feet of a school or youth center except in private residences; on school buses, in a motor vehicle that is being operated, or while operating a boat. Patients are advised to be discreet or consume oral preparations in public.
      %h3 WHERE CAN I GROW MEDICINE?
      %p
        Although Prop. 215 allows patients to grow their own medicine, landlords are not legally obliged to allow it. A few cities, such as San Diego and Ukiah, have ordinances restricting outdoor gardens.
      %h3 CAN I SELL MY EXCESS MEDICINE?
      %p 
        In general sales of marijuana are NOT permitted under Prop 215. However, SB 420 authorizes legal caregivers and collective/cooperative members to charge for their expenses in growing for others on a “non-profit” basis. Growers who provide for others should either be members of a collective or be bona fide “primary caregivers.”
      %h3 HOW CAN I START A COLLECTIVE?
      %p
        The A.G. has issued guidelines for operation of cannabis collectives and coops. For details, see <a href="http://canorml.org/prop/collectivetips.html">http://canorml.org/prop/collectivetips.html</a>.
      %h3 PRISONERS AND PROBATIONERS
      %p
        SB420 allows probationers, parolees, and prisoners to apply for permission to use medical marijuana. However, medical marijuana is regularly disallowed in jails and prisons.
      %h3 CAN PATIENTS BE DRUG TESTED?
      %p
        The California Supreme Court has ruled that employers have a right to drug test and fire patients who test positive for marijuana, regardless of their medical use (Ross v RagingWire, 2008). Some employers will excuse patients if they present a valid 215 recommendation. Others won’t. Marijuana is never permitted in jobs with federal drug testing regulations, such as the transportation industry.
      %h3 WHEN ARE RECOMMENDATIONS VALID?
      %p
        Under Prop. 215, a recommendation is valid so long as the doctor says it is. However, SB420 requires ID cards to be renewed annually, and many police refuse to recognize recommendations that are older than a year or so. Courts have ruled that patients must have a valid approval at the time of their arrest, though this can have been oral.
      %h3 WHAT ABOUT OUT-OF-STATERS?
      %p
        Out-of-state recommendations are not recognized in CA, though they are in MT, RI and MI. While Prop. 215 arguably applies to anyone with a recommendation from a California physician, most physicians refuse to recommend to out-of-staters.
      %h3 WHAT ABOUT MINORS?
      %p
        Patients under 18 should have parental consent. SJ420 does not take patients under age 18, regardless of consent.
      %h3 SHOULD I GET AN I.D. CARD?
      %p
        Patients are not required to get an ID card to enjoy the protection of Prop. 215. All that is needed is a physician’s statement saying that marijuana is “approved” or “recommended.” However, many police refuse to recognize recommendations and arrest patients anyway unless they have a valid ID card. Patients and caregivers can obtain state ID cards through the health departments of the county where they live. Unfortunately, a few counties still have not implemented ID cards. The state ID card system has safeguards to protect patient privacy. Police cannot track down patients through the registry. No patient has ever been harassed on account of getting a card.
      %p
        The Patients’ ID Center in Oakland and LA (www.patientcenter.org) offers ID cards for all California residents. PIDC cards are not officially recognized in SB 420, but are honored by many clubs and police.
      %h3 WHERE CAN I GET MEDICAL MARIJUANA?
      %p
        Even though Prop. 215 doesn’t explicitly legalize sales, hundreds of collectives are presently providing marijuana to patients in accordance with SB 420 and the A.G.’s guidelines. For a list, see <a href="www.canorml.org/prop/cbclist.html">www.canorml.org/prop/cbclist.html</a>
      %p
        Text of Prop. 215
        Compassionate Use Act of 1996
        Health and Safety Code Section 11362.5
        Sec. (1) a-b The people of the State of California hereby find and declare that the purposes of the Compassionate Use Act of 1996 are as follows:

        (A) To ensure that seriously ill Californians have the right to obtain and use marijuana for medical purposes where the medical use is deemed appropriate and has been recommended by a physician who has determined that the person's health would benefit from the use of marijuana in the treatment of cancer, anorexia, AIDS, chronic pain, spasticity, glaucoma, arthritis, migraine, or any other illness for which marijuana provides relief.

        (B) To ensure that patients and their primary caregivers who obtain and use marijuana for medical purposes upon the recommendation of a physician are not subject to criminal prosecution or sanction.

        (C) To encourage the federal and state governments to implement a plan to provide for the safe and affordable distribution of marijuana to all patients in medical need of marijuana.

        (2) Nothing in this Act shall be construed to supersede legislation prohibiting persons from engaging in conduct that endangers others, nor to condone the diversion of marijuana for nonmedical purposes.

        (c) Notwithstanding any other provision of law, no physician in this state shall be punished, or denied any rights or privilege, for having recommended marijuana to a patient for medical purposes.

        (d) Section 11357, relating to the possession of marijuana, and Section 11358, relating to the cultivation of marijuana, shall not apply to a patient, or to the patient's primary caregiver, who possesses or cultivates marijuana for the personal medical purposes of the patient upon the written or oral recommendation or approval of a physician.

        (e) For the purposes of this section, "primary caregiver" means the individual designated by the person exempted under this act who has consistently assumed responsibility for the housing, health, or safety of that person.

        Sec. 2. If any provision of this measure or the application thereof to any person or circumstance is held invalid, that invalidity shall not affect other provisions or applications of the measure which can be given effect without the invalid provision or application, and to this end the provisions of this measure are severable.

        Copyright: <a href="http://www.canorml.org/prop/patientsguide.htm">http://www.canorml.org/prop/patientsguide.htm</a>
