#pricing
  %h1.tacenter Higginsmd420 Pricing
  %p.greentext.tacenter
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat ultricies placerat. Quisque risus arcu, congue quis aliquet at, consequat vel ante. Pellentesque tempor sem vel nisl cursus ullamcorper. Vivamus mattis 
    placerat quam, vel faucibus quam ultricies sed. Curabitur scelerisque quam et risus elementum rutrum. In aliquam, lorem at sagittis tempus, nulla quam gravida nulla, et consectetur felis erat vitae augue. Pellentesque viverra 
    volutpat ligula non placerat. Aliquam nec ipsum et metus lacinia tempus. In tincidunt ultrices euismod. 
    %table
      %tr
        %td.plans(colspan=4)
      %tr.description
        %td
          %p
            Lorem ipsum dolor sit amet
            consectetur adipiscing elit. 
        %td
          %p
            Lorem ipsum dolor sit amet
            consectetur adipiscing elit. 
        %td
          %p
            Lorem ipsum dolor sit amet
            consectetur adipiscing elit. 
        %td
          %p
            Lorem ipsum dolor sit amet
            consectetur adipiscing elit. 
      %tr.buy_now
        -4.times do
          %td
            %p
              =link_to image_tag("buy_now_btn.png")

    .payment_methods
      = link_to image_tag("payment_methods.png")
      %p
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquam accumsan nulla, vitae lacinia lacus fringilla et. Morbi sit amet odio vel metus mollis mollis ut non lacus. Donec pellentesque erat vel tortor sollicitudin eget molestie turpis sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
